<ion-header>
  <ion-navbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="cards">
  <p>
    <!-- If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide. -->
  </p>
  <!-- <ion-spinner></ion-spinner> -->
  <ion-card *ngIf="user.IS_AGENT" (click)="navigateToDailyCollection()">
    <ion-card-header>
      Daily Collections
    </ion-card-header>
    <ion-card-content>
      Collection sheet used for daily transaction
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="user.IS_ADMIN" (click)="navigateToList()">
    <ion-card-header>
      User
    </ion-card-header>
    <ion-card-content>
      List, Add, Modify and delete user. A user can be Admin or Agent or Customer
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="user.IS_ADMIN" (click)="navigateToGroups()">
      <ion-card-header>
        Groups
      </ion-card-header>
      <ion-card-content>
        Group and member details.
      </ion-card-content>
    </ion-card>

  <ion-card *ngIf="user.IS_CUSTOMER" (click)="navigateToPassbookGroups()">
    <ion-card-header>
      Passbook
    </ion-card-header>
    <ion-card-content>
      Customers to see their transaction data
    </ion-card-content>
  </ion-card>
</ion-content>
