<ion-header>
    <ion-navbar>
        <ion-title>
        Groups
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="!editPage">
        <ion-item (click)="addGroup()">
            <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon> <a>Add Group</a>
        </ion-item>
        <ion-list>
            <button ion-item *ngFor="let group of groups" (click)="fetchMemberDetails(group)">
                {{ group.GROUP_NUMBER }}
            </button>  
        </ion-list>
    </div>
    <div *ngIf="editPage">
        <ion-item>
            <ion-label floating>Group Number</ion-label>
            <ion-input type="number" [(ngModel)]="groupNo" name="groupNumber"></ion-input>
        </ion-item> 

        <button ion-button small block (click)="add()">Add</button>
    </div>
</ion-content>